@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap'); /* Web Font*/

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(75px, auto);

    margin-left: 0px;
    margin-right: 0px;
}

#pContainer{
    grid-column: 2 / 3;
    grid-row: 1;
    width: 960px;
}

i{
    
    margin-top: 5px;
}

/* Home Page Code -----------------------------------------------------------------------*/

.wrapper{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(75px, auto);

    margin-left: 0px;
    margin-right: 0px;

}

.one1{

    grid-column: 1 / 3;
    grid-row: 1;

}

.one2{

    grid-column: 3 / 3;
    grid-row: 1;
    margin: 0 auto;

}

.two{

    grid-column: 1 / 3;
    grid-row: 2;

}

.three{

    grid-column: 2 / 3;
    grid-row: 3;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.four{

    grid-column: 2 / 3;
    grid-row: 4;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

#logo{

    width: 100px;
    height: 100px;

}

.principalimg{

    width: 450px;
    height: 450px;

}

/* Nav Bar Code -----------------------------------------------------------------------*/

#menu{

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
#menu ul li {
    background-color:#ffff;
}

#menu ul a {
    display:block;
    color: black;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing:1px;
}
    
#menu ul li {
    position:relative;
    float:left;
}

.one2 #menu ul li {

    display: inline-flex;

}

.one2 #menu ul li i{
    margin-left: 25px;
    padding-top: 5px;
    margin-right: 5px;
}

#menu ul li:hover {
    background:#E3E3E3;
    border-radius: 10px;
}

/*                  Here starts the sub menu css code*/

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:150px
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}

.slogan{

    font-size: 28px;
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
}

/* Footer Code -----------------------------------------------------------------------*/

#footer{

    width: 960px;
    height: 300px;
    background-color: #4A654B;

    position: absolute;

    opacity: 0.5;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(75px, auto);

}

.oneF1{

    grid-column: 1 / 2;
    grid-row: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.oneF2{

    grid-column: 2 / 3;
    grid-row: 1;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;

}

.oneF3{

    grid-column: 3 / 3;
    grid-row: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.twoF{

    grid-column: 2 / 3;
    grid-row: 2;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.threeF{

    grid-column: 2 / 3;
    grid-row: 3;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

/* Photo Gallery Page Code -----------------------------------------------------------------------*/

.wrapperGallery{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(75px, auto);

    margin-left: 1px;
    margin-right: 1px;

}

.wrapperGallery h2{

    grid-column: 1 / 3;
    grid-row: 1;

    font-family: 'Playfair Display', serif;

    margin-left: 440px;
    margin-bottom: 50px;

}

#exampleImg{

    width: 100%;
    height: 260px;

    border-radius: 5px 5px 0 0;

}

.card1, .card2, .card3, .card4{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 

    width: 350px;
    height: 200px;

    padding: 30px;
    padding-bottom: 300px;
    
    margin-bottom: 50px;
    

    background-color: #E3E3E3;

}
  
.card1, .card2, .card3, .card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

.card1{

    grid-column: 1 / 3;
    grid-row: 2;

}

.card2{

    grid-column: 3 / 3;
    grid-row: 2;

}

.card3{

    grid-column: 1 / 3;
    grid-row: 3;

}

.card4{

    grid-column: 3 / 3;
    grid-row: 3;

}


/* Events Page Code -----------------------------------------------------------------------*/

.wrapperEvents{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(75px, auto);

    margin-left: 10px;
    margin-right: 5px;
    margin-top: 20px;


}

.wrapperEvents img{

    width: 200px;
    height: 200px;
    margin-left: 50px;

}

.oneE1{

    grid-column: 1 / 3;
    grid-row: 1;   
    
    margin-top: 50px;
    
}

#eventTitle{

    font-family: 'Playfair Display', serif;;
    margin-left: 100px;

}

#eventParagraph{

    width: 300px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 10px;

    font-size: small;

}

.oneE2{

    grid-column: 2 / 3;
    grid-row: 1;

}

.oneE2 hr{

    width: 0px;
    height: 700px; 
    margin-bottom: 20px;

}

.oneE3{

    grid-column: 3 / 3;
    grid-row: 1;

    margin-top: 50px;

}

.oneE3 h3{

    font-family: 'Playfair Display', serif;
    margin-left: 80px;

}

#contactButton{

    border-radius: 4px;
    background-color: #414141;
    border-color: #414141;

    color: white;

    margin-left: 200px;
    margin-top: 20px;

    padding: 5px;

    text-decoration: none;

}


/* Contact Form Page Code -----------------------------------------------------------------------*/


.contactForm {

    width: 400px;
    background: #AFAFAF;
    padding: 30px;
    padding-right: 50px;
    padding-bottom: 75px;

    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

    margin-bottom: 100px;

}

.contactForm h4 {

    font-size: 22px;
    margin-bottom: 20px;
    color: #424242;

}

.contactForm button {

    float: right;

}

.controls {

    width: 100%;
    background: #AFAFAF;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #424242;
    font-family: 'calibri';
    font-size: 18px;
    color: #424242;

}

.contactForm p {

    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.contactForm a {

    color: white;
    text-decoration: none;

}

.contactForm a:hover {

    color: white;
    text-decoration: underline;

}

.contactForm .botons {

    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

select {

    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;

    color: black;

}

textarea{
    resize: vertical;
}



/* Location Page Code -----------------------------------------------------------------------*/

.wrapperLocation{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(75px, auto);

    margin-left: 50px;
    margin-right: 100px;

    margin-top: 20px;

}

.wrapperLocation h2, h4{

    font-family: 'Playfair Display', serif;

}

.wrapperLocation p{

    padding: 10px;
    background-color: #AFAFAF;
    border-radius: 10px;

}

.oneL{

    grid-column: 2 / 3;
    grid-row: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.twoL{

    grid-column: 2 / 3;
    grid-row: 2;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.threeL{

    grid-column: 2 / 3;
    grid-row: 3;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.fourL{

    grid-column: 2 / 3;
    grid-row: 4;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.fiveL{

    grid-column: 2 / 3;
    grid-row: 5;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;

}


/* About Us Page Code -----------------------------------------------------------------------*/

.wrapperAbout{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    grid-auto-rows: minmax(75px, auto);

    margin-left: 50px;
    margin-right: 100px;

    margin-top: 20px;

}

.wrapperAbout h2, h4{

    font-family: 'Playfair Display', serif;

}

.wrapperAbout p{

    padding: 10px;
    background-color: #AFAFAF;
    border-radius: 10px;

}

.oneA{

    grid-column: 2 / 3;
    grid-row: 1;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.twoA{

    grid-column: 2 / 3;
    grid-row: 2;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.threeA{

    grid-column: 2 / 3;
    grid-row: 3;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.fourA{

    grid-column: 2 / 3;
    grid-row: 4;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.fiveA{

    grid-column: 2 / 3;
    grid-row: 5;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.cardFounder{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 

    width: 300px;
    height: 250px;

    padding: 10px;
    padding-bottom: 300px;
    
    margin-bottom: 50px;

    background-color: #E3E3E3;

}

.cardFounder:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}